@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    box-sizing: border-box;
}



.main{
    background-image: url("Assets/Images/background.jpg");
    height:90vh;
    background-position: center center;  /*important*/
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
    position:relative;

}

.main .box{
    height:90vh;
    width:100%;
    opacity:0.72;
    background-color: black;
    position:absolute;
    top:0px;

}

nav{
    display:flex;
    max-width: 60vw;  /*important*/
    margin: auto;     /*important*/
    justify-content: space-between;
    align-items: center;
    height:60px;
}
   

nav img{
    color:red;
    width:160px;
    position:relative;
    z-index:1;
}

nav button{
    position: relative;
    z-index: 10;
}

span> img{
    margin-top:30px;
    margin-left:-120px;
}

.hero{
    height:calc(100% - 60px);
    display:flex;
    padding: 0 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: 'Martel Sans',Semi bold;
    position: relative;
    gap:8px;
    
}  

.hero> :nth-child(1){    /* > sign used to represent immediate child*/
    font-family: 'Poppins';

    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}

.hero> :nth-child(2){
    font-size:24px;
    font-weight: 400;
    text-align: center;
}
.hero> :nth-child(3){
    font-size:20px;
    font-weight: 400;
    text-align: center;
}


.line{
    height:8px;
    width:100%;
    background-color:rgb(43, 43, 43);
    position: relative;
    z-index: 11;
}

.btn-1{
    display: flex;
    gap:12px;
}
.btn{
    padding:5px 25px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    background-color:rgba(0, 0, 0, 0.589);
    border:0.5px solid gray;
    border-radius: 4px;
    color:rgba(247, 247, 247, 0.5);
}

.btn-red{
    padding:14px 33px;
    font-size: 20px;
    border-radius: 4px;
    background-color: red;
    color: white;

}

.btn-red-sm{
    background-color: red;
    color:white;
    

}


.hero-buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:7px;

}

.main input{
    padding:20px 24px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.6);
    border:0.3px solid rgba(251, 249, 249, 0.7);
    color:white;

}

 /* first section  */
.first{
    display:flex;
    justify-content: center;
    max-width:70vw;
    margin:auto;
    color:white;
    align-items:center;
    height:75vh;
}

.secimg{
    position: relative;

}

.secimg img{
    width:30vw;
    position:relative;
    z-index:10;
}

.secimg video{
    position:absolute;
    top: 51px;
    right:0;
    width:400px;
}

section.first >div{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.first >:first-child>:first-child{
    font-family: 'Martel Sans';
    font-weight: 900;
    font-size: 45px;
}
.first >:first-child>:nth-child(2){
    font-family: 'Martel Sans';
    font-weight: 400;
    font-size: 21px;
}


/* second section  */
.second{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    max-width:70vw;
    margin:auto;
    color:white;
    align-items:center;
    height:75vh;
}

.secimg{
    position: relative;

}

.secimg img{
    width:30vw;
    position:relative;
    z-index:10;
}

.secimg video{
    position:absolute;
    top: 51px;
    right:0;
    width:400px;
}

section.second >div{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.second >:first-child>:first-child{
    font-family: 'Martel Sans';
    font-weight: 900;
    font-size: 40px;
}
.second >:first-child>:nth-child(2){
    font-family: 'Martel Sans';
    font-weight: 400;
    font-size: 22px;
}







/* third section  */

.third{
    display:flex;
    flex-direction: row;
    justify-content: center;
    max-width:70vw;
    margin:auto;
    color:white;
    align-items:center;
    height:75vh;
}

.secimg{
    position: relative;

}

.secimg img{
    width:30vw;
    position:relative;
    z-index:10;
}

.secimg video{
    position:absolute;
    top: 51px;
    right:0;
    width:500px;
}

section.third >div{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.third >:first-child>:first-child{
    font-family: 'Martel Sans';
    font-weight: 900;
    font-size: 48px;
}
.third >:first-child>:nth-child(2){
    font-family: 'Martel Sans';
    font-weight: 400;
    font-size: 24px;
}

/* fourth section  */
.fourth{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
    max-width:70vw;
    margin:auto;
    color:white;
    align-items:center;
    height:75vh;
}

.secimg{
    position: relative;

}

.secimg img{
    width:35vw;
    position:relative;
    z-index:10;
}

section.fourth >div{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.fourth >:first-child>:first-child{
    font-family:'Martel Sans';
    font-weight: 900;
    font-size: 44px;
}
.fourth >:first-child>:nth-child(2){
    font-family: 'Martel Sans';
    font-weight: 400;
    font-size: 24px;
}


/*FAQ*/

.faq h2{
    text-align: center;
    padding:2px;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Martel Sans';
}

.faqbox svg{
    color: white;
    height:50px;
    width:40px;
}
.faq{
    background: black;
    color:white;
    padding:10px;
    font-size: 24px;
    font-weight: 400;
    font-family:'Martel Sans';
}
.faqbox{
    transition: all 0.1s ease-in-out;
    display:flex;
    background-color:rgb(41, 41, 41) ;
    padding:20px;
    max-width: 60vw;
    justify-content: space-between;
    margin: 13px auto;
    cursor:pointer;
    align-items: center;

}
 
.faqbox:hover{
    background-color: rgb(70, 68, 68);

}





